.input-date{
    height: 40px;
    width: 100%;
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 1px solid var(--text-input-border);
    border-radius: 2px;
    padding: 0px 30px 0px 10px;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
}