:root {
  /* Colors: */
  --font-color: #262626;
  --table-head: #fafafa;
  --lightgreen: #effff6;
  --lightyellow: #ffff76;
  --darkblue: #2284d0;
  --footer: #f2f2f2;
  --step-border: #bfbfbf;
  --white: #ffffff;
  --green: #27ae60;
  --darkgreen: #1f8a4b;
  --text-input-border: #d9d9d9;
  --blue: #16c5e5;
  --yellow: #fcbd0a;
  --red: #da2828;
  --purple: #d51fd5;
  --grey: #959595;
}

$gray-border: rgb(214, 214, 214);
$bg-header-tab: rgb(225, 240, 255);
$text-color-header-tab: rgb(0, 140, 221);

// Reset Style ------------------------------//
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
select,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

button {
  min-height: 45px;
}

p {
  line-height: 1.6;
}

p,
span,
label,
td,
th,
li,
div,
a,
button {
  font-family: "kanit" !important;
}

input[disabled] {
  color: #000000;
  -webkit-text-fill-color: #000000 !important;
  background-color: var(--text-input-border) !important;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.txt-regular {
  font-weight: 400;
}

.txt-medium {
  font-weight: 500;
}

.txt-bold {
  font-weight: 600;
}
.txt-black {
  color: var(--font-color);
}

.txt-green {
  color: var(--green);
}

.txt-red {
  color: var(--red);
}

.txt-blue {
  color: var(--darkblue);
}

.txt-purple {
  color: var(--purple);
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-center-v {
  align-self: center;
}

.txt-f-center {
  align-self: center;
}

.root {
  flex-grow: 1;
}

.result-box {
  margin-top: 35px;
  h2 {
    font-size: 20px;
  }
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

// Margin Style --------------------------------//
.mg-t-35 {
  margin-top: 35px !important;
}

.mg-t-20 {
  margin-top: 20px !important;
}
.mg-t-15 {
  margin-top: 15px !important;
}

.mg-t-10 {
  margin-top: 10px !important;
}

.mg-t-0 {
  margin-top: 0 !important;
}

.mg-b-20 {
  margin-bottom: 20px !important;
}

.mg-b-15 {
  margin-bottom: 15px !important;
}

.mg-b-10 {
  margin-bottom: 10px !important;
}

.mg-b--20 {
  margin-bottom: -20px !important;
}

.mg-l-10 {
  margin-left: 10px !important;
}

.mg-r-10 {
  margin-right: 10px !important;
}

.mg-l-20 {
  margin-left: 20px !important;
}

.mg-r-20 {
  margin-right: 20px !important;
}

// Max Height Style ---------------------------//
.max-h-350 {
  max-height: 350px;
}

.max-h-300 {
  max-height: 300px;
}

.max-h-250 {
  max-height: 250px;
}

// Display Style ------------------------------//
.dsp-f {
  display: flex;
}
.dsp-ib {
  display: inline-block;
}
.dsp-i {
  display: inline;
}
.dsp-b {
  display: block;
}

// Algin Style --------------------------------//
.jc-flex-end {
  justify-content: flex-end;
}

// Table Style --------------------------------//

.table {
  h1 {
    font-size: 20px;
    margin: 35px 0 -20px;
    font-weight: 400;
  }

  td {
    button {
      padding: 4px 10px;
      font-size: 0.8125rem;
    }
  }
  .table-item-del {
    fill: var(--red);
  }

  th {
    &.cell-red {
      color: red;
    }
    &.cell-blue {
      color: #2284d0;
    }
    &.cell-green {
      color: green;
    }
  }

  .cell-red {
    background-color: #ffe6e6;
  }

  .cell-green {
    background-color: #effff6;
  }

  .cell-blue {
    background-color: #e8f5ff;
  }
}

.table-box {
  border: 1px solid rgba(234, 234, 243, 1);
  width: 100%;
  overflow: scroll;
  margin: 35px 0 0;
}

.table-summary {
  tr {
    &:last-child {
      border: 1px solid rgba(234, 234, 243, 1);
      td {
        background-color: rgba(250, 250, 250, 1);
        border-color: transparent;
      }
    }
  }
}

.table-no-result {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 20vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-size: 1rem;
    background-color: rgba(250, 250, 250, 1);
  }
  td {
    font-size: 1rem;
    background-color: #fff;
    &.sticky {
      background-color: rgba(250, 250, 250, 1);
    }
  }

  p {
    font-size: 1.2rem;
  }

  .sticky {
    position: sticky;
    width: 18em;
    right: 0;
    top: auto;
    border-left: 1px solid rgba(234, 234, 243, 1);
  }

  .tb-w-8em {
    min-width: 8em;
  }

  .tb-w-8em {
    min-width: 8em;
  }
  .tb-w-10em {
    min-width: 10em;
  }

  .tb-w-12em {
    min-width: 12em;
  }

  .tb-w-14em {
    min-width: 14em;
  }

  .tb-w-16em {
    min-width: 16em;
  }

  .tb-w-18em {
    min-width: 18em;
  }
  .tb-w-20em {
    min-width: 20em;
  }

  .tb-w-22em {
    min-width: 22em;
  }
  .tb-w-24em {
    min-width: 24em;
  }
}

.table-loanrequestprint1,
.table-loanrecivceprint1 {
  max-height: 320px;
  overflow: scroll;
  tr {
    th {
      &:last-child {
        min-width: 400px;
      }
      &:nth-child(5) {
        min-width: 200px;
      }
      &:nth-child(10) {
        min-width: 200px;
      }
      &:nth-child(11) {
        min-width: 200px;
      }
    }
  }
}

.table-allcontractsearch1 {
  // max-height: 320px;
  // overflow: scroll;
  tr {
    th {
      &:nth-child(5) {
        min-width: 200px;
      }
      &:nth-child(10) {
        min-width: 200px;
      }
      &:nth-child(11) {
        min-width: 200px;
      }
      &:nth-child(12) {
        min-width: 400px;
      }
    }
  }
}

.table-EditContract {
  max-height: 200px;
}

.table-recordcloseoldContact1 {
  max-height: 320px;
  overflow: scroll;
}

.table-recordinstallmentpayment1 {
  tr {
    th {
      min-width: 240px;
    }
  }
}

// Main Style ------------------------------//
body {
  background-color: var(--white);
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  color: var(--font-color);
  line-height: 1.6;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.err {
  color: var(--red);
  border-radius: 3px;
  // border: 1px solid var(--red);
  // padding: 5px 10px;
}

.line-top-green {
  border-top: 4px solid var(--green);
}

.line-top-red {
  border-top: 4px solid var(--red);
}

.line-top-bluesky {
  border-top: 4px solid var(--blue);
}

.line-top-yellow {
  border-top: 4px solid var(--yellow);
}

.line-top-grey {
  border-top: 4px solid var(--grey);
}

.paper {
  padding: 18px 24px;
  margin-top: 35px;

  .paper-head-green {
    color: var(--green);
    font-size: 20px;
    font-weight: 600;
  }

  .paper-head-red {
    color: var(--red);
    // font-size: 20px;
    font-weight: 600;
  }
  .paper-head-bluesky {
    color: var(--blue);
    // font-size: 20px;
    font-weight: 600;
  }
  .paper-head-yellow {
    color: var(--yellow);
    // font-size: 20px;
    font-weight: 600;
  }
  .paper-head-grey {
    color: var(--grey);
    // font-size: 20px;
    font-weight: 600;
  }

  .paper-container {
    margin: 10px -12px;
    &:first-child {
      margin-top: 0;
    }
  }

  .paper-p {
    line-height: 2.6;
  }
}

.btn {
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  margin: 8px 0;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);

  &.btn-blue {
    background-color: var(--darkblue);
    border: none;
    color: var(--white);
  }
}

.bg-green {
  background-color: var(--green);
}

.bg-light-green {
  background-color: var(--lightgreen);
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 75px;
  box-shadow: 0px 2px 3px #00000029;
  opacity: 1;
  padding: 10px 20px;
  display: flex;

  &.login {
    p {
      color: var(--lightyellow);
    }
    span {
      color: var(--white);
    }
  }

  &.logged {
    p {
      color: var(--green);
    }
    span {
      color: var(--green);
    }
  }

  .logo {
    // display: flex;
    flex: 1;
    cursor: pointer;

    img {
      width: 55px;
      height: 54px;
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
    }

    p {
      display: inline-block;
      font: normal normal 600 16px/24px Taviraj;
      letter-spacing: 0px;
      opacity: 1;

      span {
        text-align: left;
        font: normal normal 500 16px/24px Taviraj;
        letter-spacing: 0px;
        opacity: 1;
      }
    }
  }

  .admin-info {
    text-align: right;
    flex: 1;

    svg {
      // width: 55px;
      // height: 54px;
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
    }

    p {
      display: inline-block;
      font: normal normal 600 16px/24px Kanit;
      letter-spacing: 0px;
      vertical-align: sub;
      opacity: 1;

      span {
        text-align: left;
        font: normal normal 500 16px/24px Kanit;
        letter-spacing: 0px;
        opacity: 1;
      }
    }
  }
}

.nav {
  width: 100vw;
  height: 64px;
  padding: 0 10px;
  background: var(--green) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #00000029;
  display: flex;

  // ul {
  //   display: flex;

  //   li {
  //     padding: 20px 26px;

  //     a {
  //       display: inline-block;
  //       text-decoration: none;
  //       color: var(--white);
  //     }
  //   }
  // }
  .nav-item {
    button {
      padding: 16px 26px;
      color: #fff;
      font-size: 1rem;
      line-height: 1;
      height: 4rem;
      &[aria-controls="menu-list-grow"] {
        background-color: var(--darkgreen);
      }
      span {
        font-size: 18px;
        color: var(--white);
        line-height: 1;
        & > span {
          display: inherit;
          vertical-align: text-top;
          svg {
            &:first-child {
              font-size: 30px;
            }
          }
        }
      }
    }

    & > div {
      z-index: 1;
    }
  }
}

.main {
  margin-bottom: 80px;

  .title-page {
    margin-top: 35px;
    text-align: center;
    h1 {
      font-size: 24px;
      font-weight: 400;
    }
    h2 {
      font-size: 20px;
    }
  }

  .btn-row {
    margin: 35px -8px;
  }
  .btn-upload {
    margin: auto;
  }
}

.footer {
  width: 100vw;
  height: 40px;
  background-color: var(--footer);
  text-align: left;
  font: normal normal normal 14px/57px Kanit;
  letter-spacing: 0px;
  color: #939393;
  opacity: 1;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-button {
  div:first-child {
    text-align: right;
  }
  button {
    max-width: 275px;
  }
}

.fade {
  margin-top: 144px;
}

// Box Style ------------------------//
.box {
  position: relative;
  &.box-grey {
    padding: 18px;
    margin: 8px 0;
    background-color: var(--table-head);
    border: 1px solid var(--text-input-border);
  }
  &.box-red-summary {
    padding: 6px;
    background-color: #fff4f4;
    color: var(--red);
    // font-size: 30px;
    font-size: 22px;
    text-align: right;
  }
  &.box-blue-summary {
    padding: 6px;
    background-color: #e8f5ff;
    color: var(--darkblue);
    // font-size: 30px;
    font-size: 22px;
    text-align: right;
  }
  &.box-green-summary {
    padding: 6px;
    background-color: #effff6;
    color: var(--green);
    // font-size: 30px;
    font-size: 22px;
    text-align: right;
  }
  &.box-black-summary {
    padding: 6px;
    background-color: rgb(241, 241, 241);
    color: var(--font-color);
    // font-size: 30px;
    font-size: 22px;
    text-align: right;
  }
  .box-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--red);
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    z-index: 1;
  }

  &.result-list {
    .result-item {
      margin-bottom: 10px;
    }
    button {
      margin-top: 10px;
      min-width: 180px;
    }

    .box-button {
      text-align: center;
    }
  }
}

.box-blue {
  display: flex;
  padding: 20px;
  background-color: #e8f5ff;
  border: 1px solid #4084ca;
  .box-blue-item {
    flex: 1;
    text-align: center;
    .box-blue-head {
      color: #2284d0;
    }
  }
}

// Card Style ----------------------//
.card {
  max-width: 486px;
  width: 100%;
  background: var(--white) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000038;
  border-radius: 3px;
}

.card-color {
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 1px solid var(--text-input-border);
  border-radius: 2px;
}

// Input Sytle ---------------------//
input {
  &[disabled] {
    background-color: var(--text-input-border);
  }
}

.input-disabled {
  pointer-events: none;
  .MuiInputBase-root.MuiInputBase-formControl {
    input,
    .MuiSelect-select {
      background-color: var(--text-input-border);
      border-radius: 4px;
    }
    fieldset {
      border: none;
      border-radius: 4px;
    }
  }
  .MuiInputAdornment-root {
    display: none;
  }
  .MuiOutlinedInput-root {
    padding: 0;
  }
}

.input-currency {
  .MuiInputBase-root.MuiInputBase-formControl {
    input {
      padding: 10px 26px 10px 12px;
      text-align: right;
      border-radius: 4px;
    }
  }
}

.form-input {
  margin-bottom: 8px;

  label {
    display: block;
  }

  input,
  textarea {
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ced4da;
    font-size: 16px;
    padding: 10px 26px 10px 12px;
    -webkit-transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
  }
}
.radio-group-content {
  &__flex {
    margin-left: 30px;
    display: flex;
    button {
      padding: 8px;
    }
  }
  margin: 10px 0 0 30px;
  .lists {
    margin-top: -20px;
    .list-item {
      padding: 10px 0;
    }
    .list-item-del {
      fill: var(--red);
    }
  }
}

// Lists Style ---------------------//
.lists {
  margin-top: -20px;
  .list-item {
    padding: 10px 0;
  }
  .list-item-del {
    fill: var(--red);
  }
}

// Login Style ---------------------//
.login-page {
  width: 100vw;
  height: 100%;
  background-image: url(./assets/login-bg.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;

  .card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 24px;
    height: 350px;
    p {
      text-align: center;
      margin-bottom: 16px;
      &.err {
        height: 20px;
        padding: 0;
        margin: 0;
      }
    }
  }
  .login-option {
    display: flex;
    padding: 10px 0;
    .login-forgot-pwd {
      flex: 1;
      p {
        text-align: left;
      }
    }
    .login-change-pwd {
      flex: 1;
      p {
        text-align: right;
      }
    }
    p {
      flex: 1;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Loan Request Contact Style ------------------//
.loanrequestcontact-page {
  .custom-stepper {
    &:last-child {
      .custom-stepper-item {
        border: 2px dashed #bfbfbf;
        &.active {
          border-color: #27ae60;
        }
        &.completed {
          border-style: solid;
          border-color: #27ae60;
        }
        p {
          line-height: 0.6;
        }
      }
    }
  }
}

.loanrequestcontact-step-page {
  .fade {
    margin: 0;
  }
  .loanrequestcontact-num-box {
    position: relative;
    .loanrequestcontact-num {
      position: absolute;
      right: 10px;
      top: 5px;
      color: #27ae60;
      font-size: 18px;
    }
  }

  .loanrequestcontact-loan-amount {
    span {
      font-size: 20px;
    }
  }
}

.recordcourtcontract-page {
  .custom-stepper {
    .custom-stepper-item {
      border: 2px solid #bfbfbf;
      &.active {
        color: #fff;
        fill: var(--red);
        border-color: var(--red);
        background-color: var(--red);
      }
      &.completed {
        color: var(--red);
        fill: #fff;
        border-color: var(--red);
        background-color: #fff;
      }
      p {
        line-height: 0.6;
      }
    }
    // }
    &:first-child {
      .custom-stepper-item {
        &.active {
          color: #fff;
          fill: #27ae60;
          border-color: #27ae60;
          background-color: #27ae60;
        }
        &.completed {
          color: #27ae60;
          fill: #fff;
          border-color: #27ae60;
          background-color: #fff;
        }
      }
    }
  }
}

.recorddebtcontract-page {
  .custom-stepper {
    .custom-stepper-item {
      border: 2px solid #bfbfbf;
      &.active {
        color: #fff;
        fill: var(--yellow);
        border-color: var(--yellow);
        background-color: var(--yellow);
      }
      &.completed {
        color: var(--yellow);
        fill: #fff;
        border-color: var(--yellow);
        background-color: #fff;
      }
      p {
        line-height: 0.6;
      }
    }
    // }
    &:first-child {
      .custom-stepper-item {
        &.active {
          color: #fff;
          fill: #27ae60;
          border-color: #27ae60;
          background-color: #27ae60;
        }
        &.completed {
          color: #27ae60;
          fill: #fff;
          border-color: #27ae60;
          background-color: #fff;
        }
      }
    }
  }
}

.recorddebtpayment-page {
  .custom-stepper {
    .custom-stepper-item {
      border: 2px solid #bfbfbf;
      &.active {
        color: #fff;
        fill: var(--blue);
        border-color: var(--blue);
        background-color: var(--blue);
      }
      &.completed {
        color: var(--blue);
        fill: #fff;
        border-color: var(--blue);
        background-color: #fff;
      }
      p {
        line-height: 0.6;
      }
    }
    // }
    &:first-child {
      .custom-stepper-item {
        &.active {
          color: #fff;
          fill: #27ae60;
          border-color: #27ae60;
          background-color: #27ae60;
        }
        &.completed {
          color: #27ae60;
          fill: #fff;
          border-color: #27ae60;
          background-color: #fff;
        }
      }
    }
  }
}

.recordcourtcontract-step-page,
.recorddebtcontract-step-page,
.recorddebtpayment-step-page {
  .fade {
    margin: 0;
  }
}

// Add Role Page ------------------------------//
.addrole-page {
  // .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label
  // .MuiTreeItem-root:focus > .MuiTreeItem-content .MuiTreeItem-label
  .treeview {
    li {
      .MuiTreeItem-content {
        top: 1.5em;
        .MuiTreeItem-label {
          padding: 10px 6px;
          font-size: 1.3rem;
        }
        .MuiButton-contained {
          min-width: 20px;
          min-height: 20px;
          width: 26px;
          height: 26px;
          padding: 2px;
          .MuiButton-startIcon {
            margin: 0;
            svg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// Loan Request Contact Step Page
.loanrequestcontactstep-loantotal {
  input {
    font-size: 22px;
    color: var(--darkgreen);
    padding: 2px 0 !important;
  }
  fieldset {
    border: none;
  }
}

// Manage Permission Page ---------------------//
.managepermission-page {
  .treeview {
    li {
      &.Mui-selected {
        > .MuiTreeItem-content {
          border: 1px solid var(--green);
          background-color: var(--lightgreen);
          .MuiTreeItem-label {
            background-color: transparent;
          }
        }
      }
      .MuiTreeItem-content {
        top: 1.5em;
        border: 1px solid var(--grey);
        margin-bottom: 4px;

        .MuiTreeItem-label {
          padding: 10px 6px;
          font-size: 1rem;
        }
        .MuiButton-contained {
          min-width: 20px;
          min-height: 20px;
          width: 26px;
          height: 26px;
          padding: 2px;
          .MuiButton-startIcon {
            margin: 0;
            svg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// Material UI (Mui) --------------------------//
label + .MuiInputBase-root {
  &.MuiInputBase-formControl {
    margin-top: 0;
  }
  &.Mui-Disabled {
    background-color: #959595;
    color: #000000;
  }
}

.MuiDatePicker {
  width: 100%;
  input {
    padding: 11px;
  }
  .MuiFormHelperText-root {
    display: none;
  }
}

.custom-stepper-box {
  width: 80%;
  margin: auto;
}
.custom-stepper {
  .custom-stepper-item {
    width: 47px;
    height: 47px;
    fill: white;
    border: 2px solid #bfbfbf;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    &.active {
      color: #fff;
      fill: #27ae60;
      border-color: #27ae60;
      background-color: #27ae60;
    }
    &.completed {
      color: #27ae60;
      fill: #fff;
      border-color: #27ae60;
      background-color: #fff;
    }
  }

  .MuiStepConnector-alternativeLabel {
    top: 24px;
    left: calc(-50% + 30px);
    right: calc(50% + 30px);
    position: absolute;
  }
}

.treeview {
  list-style: none;
  margin: 0;
  padding: 0;

  .MuiCheckbox-root {
    margin: 0;
    padding: 4px;
  }

  .MuiTreeItem-root {
    .tree-button {
      display: none;
      float: right;
    }
    .MuiTreeItem-label {
      // height: 45px;
      position: relative;
      &:hover {
        > .tree-button {
          display: block;

          button {
            cursor: pointer;
            padding: 5px;
            margin: 0 4px;
          }
        }
      }
    }
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    padding-left: 1em;
  }
  li {
    padding-left: 1em;
    border: 1px solid black;
    border-width: 0 0 1px 1px;
  }
  & > li {
    border: none;
  }
  li.container {
    border-bottom: 0px;
  }
  li.empty {
    font-style: italic;
    color: silver;
    border-color: silver;
  }
  li .MuiTreeItem-content {
    margin: 0;
    background: white;
    position: relative;
    top: 1em;
  }
  li ul {
    border-top: 1px solid black;
    margin-left: 0;
    padding-left: 2em;
  }
  ul li:last-child ul {
    border-left: 1px solid white;
    margin-left: -17px;
  }
}

.MuiInputBase-root {
  &.MuiInputBase-multiline {
    padding: 0;
  }
}

.MuiTableCell-root {
  border-top: none;
  border-right: none;
  border-left: 1px solid rgba(234, 234, 243, 1);
  &:first-child {
    border-left: none;
  }

  &.MuiTableCell-head {
    padding: 16px;
  }
  &.MuiTableCell-body {
    padding: 4px 16px;
  }

  button {
    min-width: auto;
    margin: 0 5px;
  }
}

.MuiDataGrid-root {
  .MuiDataGrid-colCellWrapper {
    background-color: rgba(250, 250, 250, 1);
  }
  .MuiDataGrid-cell,
  .MuiDataGrid-colCell {
    border-top: none;
    border-right: none;
    border-left: 1px solid rgba(234, 234, 243, 1);
    &:first-child {
      border-left: none;
    }
    .MuiDataGrid-iconSeparator,
    .MuiDataGrid-iconButtonContainer,
    .MuiDataGrid-menuIcon {
      display: none;
    }
  }
}

@import "./styles/ListFarmerPayLoan.scss";
@import "./styles/ReportStyle.scss";
@import "./styles/check.scss";
